html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-size: 100%;
    font-style: normal;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
body {
    background-repeat: repeat-x;
    color: #3589B4;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#mainContent:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#mainContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF6C1E;
    border-radius: 8px 8px 8px 8px;
    display: block;
    margin: 0 auto;
    padding: 9px;
    text-align: left;
    width: 1000px;
    margin-top:50px;
    margin-bottom:10px;
}
.tit {
    border-bottom: 1px dashed #FF6C1E;
    margin-bottom: 28px;
    padding: 0 9px 12px;
}
.tit b{
	color:	#FF6C1E;
}

.have_count {
    border-left: 1px dashed #DDDDDD;
    float: right;
    padding: 0 30px 10px;
    width: 320px;
    height:200px;
}


/**/
.reg_form {
    float: left;
    width: 610px;
}
.reg_form fieldset {
    border: medium none;
}
.reg_form label, .gender span {
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
    width: 110px;
}
.reg_form .gender .msg {
    font-size: 12px;
    padding: 0;
}
.reg_form .gender .ico__error {
    padding: 0;
    vertical-align: text-bottom;
    width: 16px;
}
.reg_form .entry {
    margin-bottom: 20px;
}
.reg_form .form_select {
    margin-right: 5px;
}
.reg_form .msg {
    color: #909090;
    margin-left: 15px;
}
.reg_form .msg .ico__error, .reg_form .msg .ico__pass {
    margin-right: 5px;
}
.reg_form .error, .reg_form .txt .counter .warning {
    color: #FF6C1E;
}
.reg_form .pswd_state {
    background-color: #ECECEC;
    border: 1px solid #8FD1FF;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    position: relative;
    vertical-align: middle;
    width: 124px;
}
.reg_form .pswd_state_def {
    border: 1px solid #C7C7C7;
}
.reg_form .pswd_state .level {
    display: inline-block;
    height: 8px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 40px;
}
.reg_form .pswd_state .level_1 {
    background-color: #8FD1FF;
}
.reg_form .pswd_state .level_2 {
    background-color: #43B1FE;
    left: 42px;
}
.reg_form .pswd_state .level_3 {
    background-color: #3399E0;
    left: 83px;
}
.reg_form .pswd_state .level_0 {
    background-color: #C7C7C7;
}
.reg_form .pswd_state .level_0_1 {
    background-color: #A0A0A0;
    left: 42px;
}
.reg_form .pswd_state .level_0_2 {
    background-color: #898989;
    left: 83px;
}
.reg_form .vcode {
    margin: 0 15px;
    vertical-align: middle;
}
.reg_form .regbtn, .reg_form .savebtn {
    padding-left: 123px;
}
.reg_form .regbtn a {
    background: url("../images/pic_button01.gif") no-repeat scroll left top transparent;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-family: 黑体;
    font-size: 20px;
    font-weight: normal;
    height: 42px;
    line-height: 42px;
    padding-right: 20px;
    padding-left: 20px;
}

.reg_form .regbtn em, .reg_form .savebtn em {
    display: none;
}
.reg_form .terms {
    margin: -10px 0 20px;
    padding-left: 120px;
}
.reg_form .rule input {
    margin-right: 5px;
    vertical-align: middle;
}
.reg_form .gender label {
    text-align: left;
    width: 20px;
}
.reg_form .alerts {
    color: #FF3300;
    margin-right: 5px;
}
.reg_form .txt {
    margin-bottom: 20px;
}
.reg_form .txt .form_input {
    margin-bottom: 5px;
}
.reg_form .txt .counter {
    padding-left: 415px;
}
.reg_form .txt label {
    vertical-align: top;
}
.reg_form .userbase {
    height: 50px;
    margin-bottom: 20px;
}
.reg_form .userbase .avatar {
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}
.reg_form .userbase li {
    font-size: 14px;
    margin-bottom: 5px;
}
.reg_form .userbase .tips {
    color: #909090;
    font-size: 12px;
}
.reg_form .userbase .avatar img {
    display: block;
    height: 50px;
    width: 50px;
}
.reg_form .strength {
    color: #909090;
    padding-left: 120px;
    padding-top: 10px;
}
.reg_form .notice {
    background: none repeat scroll 0 0 #FFFCCE;
    border: 1px solid #D1BE9D;
    color: #909090;
    margin-left: 123px;
    margin-top: 10px;
    padding: 5px 10px;
    width: 290px;
}
.reg_form .notice a {
    margin-left: 10px;
}
.reg_form .loginbind a:hover {
    background-position: -150px -230px;
}
.reg_form .loginbind a:active {
    background-position: -300px -230px;
}
.reg_form .loginbind em {
    display: none;
}
.reg_form .loginbind .findpwd {
    line-height: 45px;
}

/*输入框样式*/
.form_input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 1px 1px 3px #C3C3C3 inset;
    color: #555555;
    font-size: 14px;
    margin: 0;
    outline: medium none;
    padding: 4px 8px;
    vertical-align: middle;
}
input.form_input {
    height: 20px;
    line-height: 20px;
    width: 200px;
}
textarea.form_input {
    height: 60px;
    min-height: 20px;
    width: 200px;
}
.form_input:focus, .form_input_focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #3EABFF;
    box-shadow: 0 0 1px #1681D3, 1px 1px 3px #C3C3C3 inset;
}
.form_input_error {
    background: none repeat scroll 0 0 #FFF6F6;
    border-color: #FF6C1E;
    box-shadow: 0 0 1px #CC0000, 1px 1px 3px #C3C3C3 inset;
}