#side {
    float: left;
    line-height: 120%;
    overflow: hidden;
    width: 200px;
}
#panel_Profile span {
    color: #333333;
}
.panel_head {
    background: url("../images/tit_bg.gif") repeat-x scroll center top transparent;
    border-radius: 4px 4px 4px 4px;
    clear: both;
    color: #333333;
    font: bold 12px/30px Arial;
    height: 30px;
    padding: 0 10px;
    text-indent: 5px;
}
.panel {
	background: none repeat scroll 0 0 #EBF1F4;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 10px;
    padding: 7px;
}
#bms_box {
    border-bottom: 1px dashed #CCCCCC;
    display: block;
    margin-top: 4px;
    padding: 10px 4px 4px 0;
    text-align: left;
}
.side .panel_body {
    padding: 4px 5px;
    margin:1px 10px 0 10px;
}