<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://127.0.0.1/portal"></property>
		<property name="username"><value>root</value></property>
		<property name="password"><value>1234</value></property>
	</bean>
	
	<!-- session工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
	        <list>
	            <value>com\sfv\entitybean\system\SystemUser.hbm.xml</value>
	            <value>com\sfv\entitybean\system\PhotoAlbums.hbm.xml</value>
	            <value>com\sfv\entitybean\system\Photos.hbm.xml</value>
	            <value>com\sfv\entitybean\system\Sign.hbm.xml</value>
	            <value>com\sfv\entitybean\system\PhotoComment.hbm.xml</value>
	            <value>com\sfv\entitybean\system\UserRef.hbm.xml</value>
	        </list>
        </property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<prop key="hibernate.show_sql">true</prop> 
			</props>
		</property>
	</bean>

	<!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
       <property name="sessionFactory">
           <ref local="sessionFactory" />
       </property>
    </bean>
    
    <!-- Dao -->
    <bean id="userDao" class="com.sfv.dao.UserDaoImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <bean id="photoDao" class="com.sfv.dao.photo.PhotoDaoImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <bean id="signDao" class="com.sfv.dao.SignDaoImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <bean id="chatDao" class="com.sfv.dao.ChatDaoImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    
    <!-- Service -->
    <bean id="userService" class="com.sfv.service.UserServiceImpl">
        <property name="userDao">
            <ref local="userDao"/>
        </property>
    </bean>
    <bean id="photoService" class="com.sfv.service.photo.PhotoServiceImpl">
        <property name="photoDao">
            <ref local="photoDao"/>
        </property>
    </bean>
    <bean id="signService" class="com.sfv.service.SignServiceImpl">
        <property name="signDao">
            <ref local="signDao"/>
        </property>
    </bean>
    <bean id="chatService" class="com.sfv.service.ChatServiceImpl">
        <property name="chatDao">
            <ref local="chatDao"/>
        </property>
    </bean>
    
    <!-- Action -->
    <bean id="loginAction" name="loginAction" class="com.sfv.action.LoginAction">
        <property name="userService">
            <ref local="userService"/>
        </property>
    </bean>
    <bean id="userAction" name="userAction" class="com.sfv.action.UserAction">
        <property name="userService">
            <ref local="userService"/>
        </property>
    </bean>
    <bean name="photoAction" class="com.sfv.action.photo.PhotoAction">
        <property name="photoService">
            <ref local="photoService"/>
        </property>
        <property name="userService">
            <ref local="userService"/>
        </property>
    </bean>
    <bean id="signAction" name="signAction" class="com.sfv.action.SignAction">
        <property name="signService">
            <ref local="signService"/>
        </property>
    </bean>
    <bean id="chatAction" name="chatAction" class="com.sfv.action.ChatAction">
        <property name="userService">
            <ref local="userService"/>
        </property>
    </bean>
</beans>